* {
    box-sizing: border-box;
}
* + * {
    margin-top: 1.5em;
}
html {
    font-size: 62.5%;
    font-size: .625em;
    font-family: helvetica, arial, sans-serif;
}
body {
    background: white;
    color: #333;
    font-size: 100%;
    font-size: 1.8em;
    line-height: 1.5;
}
h1 {
    margin: 0;
}
#q {
    border: 1px solid #cecece;
    border-radius: 1rem;
    color: #333;
    font-size: 1.8rem;
    outline: none;
    padding: 1rem;
    width: 100%;
}
#q:focus {
    background-color: whitesmoke;
}
#tokens {
    list-style: none;
    margin-top: .5em;
    padding: 0;
}
#tokens li {
    display: inline-block;
    font-size: 1.2rem;
    margin: .5em;
}
#tokens li b {
    background-color: darkseagreen;
    padding: .5em;
}
#tokens li span {
    background-color: whitesmoke;
    padding: .5em;
}
#powered-by {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
